.client-full-bleed-cover {
  position: relative;
  top: -20px;
  /*new - added by Marcus */
  left: -30px;
  width: calc(100% + 60px);
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: #333433;
  color: #ffffff;
  /* margin-top: 30px; */
  margin-bottom: -40px;
}

.client-full-width {
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
}

.client-full-bleed {
  position: relative;
  top: -20px;
  /*new - added by Marcus */
  left: -30px;
  width: calc(100% + 60px);
  height: 200px;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  /* margin-top: 30px; */
  margin-bottom: 20px;
}

.client-full-bleed h2 {
  color: #ffffff;
  position: absolute;
  bottom: 25px;
}

.client-gray {
  background-color: #333433;
}

.client-purple {
  background-color: #895B9E;
}

.client-orange {
  background-color: #E9983E;
}

.client-blue {
  background-color: #55BDDA;
}

.client-green {
  background-color: #4DAB74;
}

.client-red {
  background-color: #DC494A;
}

.client-content {
  padding-left: 40px;
  padding-right: 100px;
}

/* Video */
.client-video-first {
  margin: -20px 0 -20px -30px;
  width: calc(100% + 60px);
  height: 500px;
  padding: 56.25% 0 0 0;
  position: relative;
}

.client-video-container {
  height: calc(100% + 60px) !important;
  left: -5;
  position: absolute;
  top: 0;
  width: 100%;
}

.client-video-container iframe {
  width: 100% !important;
  height: calc(100%) !important;
}

/*
#content_editor .client-full-bleed, .pdf-page-content .client-full-bleed {
  color: #ffffff;
  position: relative;
} */
@media print {
  .client-full-bleed {
    top: 0in;
    left: -1in;
    width: 11in;
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .client-full-bleed-cover {
    top: 1in;
    left: 0in;
    width: 11in;
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .client-full-width {
    position: relative;
    left: -30px;
    width: 11in;
    margin-right: 0in;
  }
}
